# Object files
*.o
*.ko
*.lo

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# autoconf misc
aclocal.m4
lt*.m4
*.cache
config.*
configure
libtool
libtool.m4
*.log
*.gz
*.gz
*.zip
*.bak
*.dummy
Makefile
Makefile.in
*.deps
.dirstamp
*.libs
stamp-h
src/stamp-h1
build-aux/
wolfmqtt-config
aminclude.am

# vim
*.swp
tags
diff
.vimrc

# test output

# scan-build
client.plist

# other
Debug
.vs
*.aps
*.sdf
*.user
*.opensdf
*.trs
firmware.bin
wolfmqtt/options.h
IDE/ARDUINO/wolfMQTT
IDE/Microchip-Harmony/wolfmqtt_client/firmware/mqtt_client.X/dist/default/
build/

# examples
examples/aws/awsiot
examples/azure/azureiothub
examples/firmware/fwclient
examples/firmware/fwpush
examples/mqttclient/mqttclient
examples/mqttsimple/mqttsimple
examples/nbclient/nbclient
examples/sn-client/sn-client
examples/sn-client/sn-client_qos-1
examples/sn-client/sn-multithread
examples/multithread/multithread
examples/wiot/wiot

# eclipse
.cproject
.project
.settings

# Generated user_settings_asm.h.
user_settings_asm.h

# auto-created CMake backups
**/CMakeLists.txt.old

# VisualGDB
**/.visualgdb

# Espressif sdk config default should be saved in sdkconfig.defaults
# we won't track the actual working sdkconfig files
/IDE/Espressif/**/sdkconfig

# Espressif managed components to exclude:
/IDE/Espressif/**/managed_components/**

# Espressif managed component lock files to exclude.
# "In general, it's ok to have it under version control, however, it ties
# the solution to the exact version of ESP-IDF and will be ignored if an
# example is built against another IDF version or for a different target.
# So it's better to git ignore it for the examples."
/IDE/Espressif/**/dependencies.lock

# exclude any local oqs components
/IDE/Espressif/ESP-IDF/examples/**/components/oqs

/IDE/Espressif/**/sdkconfig.old

# ESP Registry Files

# Temporary wolfssl component install directories that are copied locally at install time
/IDE/Espressif/wolfssl
/IDE/Espressif/component-manager/wolfssl
/IDE/Espressif/component-manager/wolfcrypt
/IDE/Espressif/component-manager/src
/IDE/Espressif/component-manager/dist

# Exclude most of the example files that are copied at install time
# from https://github.com/wolfSSL/wolfssl/tree/master/IDE/Espressif/ESP-IDF/examples
/IDE/Espressif/component-manager/examples/*/CMakeLists.txt
/IDE/Espressif/component-manager/examples/*/partitions_singleapp_large.csv
/IDE/Espressif/component-manager/examples/*/sdkconfig.defaults
/IDE/Espressif/component-manager/examples/*/main/CMakeLists.txt
/IDE/Espressif/component-manager/examples/**/main/*.c
/IDE/Espressif/component-manager/examples/**/main/*.h
/IDE/Espressif/component-manager/examples/**/main/include/*.h
/IDE/Espressif/component-manager/examples/*/main/component.mk
/IDE/Espressif/component-manager/examples/*/main/Kconfig.projbuild
/IDE/Espressif/component-manager/examples/**/VisualGDB/*.sln
/IDE/Espressif/component-manager/examples/**/VisualGDB/*.vgdbproj

# The only ESP Registry Files specific to this location
!/IDE/Espressif/component-manager/examples/**/main/idf_component.yml
!/IDE/Espressif/component-manager/examples/**/README.md
/IDE/Espressif/ESP-IDF/examples/wolfssl_test/**/components/cryptoauthlib

# Never include the build failure semaphore file
/IDE/build_failed.txt
/IDE/Espressif/ESP-IDF/component-manager/dist.bak
/IDE/Espressif/ESP-IDF/component-manager/src
/IDE/Espressif/ESP-IDF/component-manager/wolfcrypt
/IDE/Espressif/ESP-IDF/component-manager/wolfssl
/IDE/Espressif/ESP-IDF/component-manager/dist
